# node
node_modules
dist/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Rust - exclude all build artifacts and target folders
target/
Cargo.lock
**/target/
!packages/sdr_wasm/target/**/sdr_wasm.wasm

# Rust-specific files
*.pdb
*.profraw
**/*.rs.bk

# Rust toolchain files
rust-toolchain
rust-toolchain.toml
.rustup/

# Rust analyzer
.rust-analyzer/
target/debug/
target/release/
target/rls/
target/cargo-web/dist/

# Swift / Vapor
src/swift-coreml-service/.build/
src/swift-coreml-service/.swiftpm/
src/swift-coreml-service/Package.resolved

# macOS
.DS_Store

# This is for local links to additional I/Q captures
# Finder aliases (must give them .alias extension)
.alias
